div.SwitchButton button.switch-to-light {
  background-color: blanchedalmond;
  color: #1f2229;
}

div.SwitchButton button.switch-to-dark {
  background-color: #1f2229;
  color: white;
}

div.SwitchButton button.switch-to-dark span {
  color: white;
}

div.SwitchButton button {
  border: none;
  border-radius: 1em;
  padding: 0.5em;
  cursor: pointer;
}

div.SwitchButton button span {
  font-size: 1.2em;
}
